<!DOCTYPE html>
<html>
<body>
    <h1>Mensajes Recibidos</h1>
    <ul>
        {% for mensaje in mensajes %}
            <li
                style="border-radius:12px; padding:8px 12px; margin-bottom:6px; {% if not mensaje.leido or not mensaje.leido_en %}background:#eaf1ff;{% endif %}"
            >
                <strong>{{ mensaje.asunto }}</strong> - de {{ mensaje.emisor.get_full_name|default:mensaje.emisor.username }} <br>
                {{ mensaje.contenido }} <br>
                <em>
                    {{ mensaje.fecha_envio|date:"d/m/Y" }}
                    {% if mensaje.curso_asociado %}
                        - Curso: {{ mensaje.curso_asociado }}
                    {% endif %}
                </em>
            </li>
        {% empty %}
            <li>No tenés mensajes.</li>
        {% endfor %}
    </ul>
    <a href="/">Volver</a>
</body>
</html>
